<p id="notice"><%= notice %></p>

Name:	<%=@task.name%><br />
Comment: <%=@task.comment%><br />
Config:	<%=@config.name%><br />
Escalator:	<br />
Schedule:	 (Next due: over)<br />
Target:	<%=@target.name%><br />
Slave:	<br />
Status:	<%=@task.status%><br />
Reports:	1 (Finished: 1)

<hr />
<%=@task.inspect%>
<hr />
<%=@reports.is_a?(Enumerable)%>
<br />
<%=@reports.inspect%>
<hr />
<%=@target.inspect%>

<hr />
<%= link_to 'Edit', edit_openvas_cli_vas_task_path(@task) %> |
<%= link_to 'Back', openvas_cli_vas_tasks_path %>
