<%= form_for(@scan_target) do |f| %>
  <% if @scan_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scan_target.errors.count, "error") %> prohibited this scan_target from being saved:</h2>

      <ul>
      <% @scan_target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :hosts %><br />
    <%= f.text_area :hosts %>
  </div>
  <div class="field">
    <%= f.label :port_range %><br />
    <%= f.text_area :port_range %>
  </div>
  <div class="field">
    <%= f.label :in_use %><br />
    <%= f.check_box :in_use %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
