<h1>Scan Targets</h1>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Comment</th>
    <th>Hosts</th>
		<th>IPs</th>
    <th>Ports</th>
    <th>In use</th>
    <th></th>
    <th></th>
  </tr>
	<% @scan_targets.each do |scan_target| %>
	  <tr>
	    <td><%= scan_target.name %></td>
	    <td><%= scan_target.comment %></td>
	    <td>
				<% scan_target.hosts.each do |host| %>
						<%= host %><br />
				<% end %>
			</td>
			<td><%= scan_target.max_hosts %></td>
	    <td><%= scan_target.port_range %></td>
	    <td><%= scan_target.in_use %></td>
	    <%#= link_to 'edit', edit_scan_target_path(scan_target.id) %>
	    <td><%= link_to 'delete', scan_target_path(scan_target.id), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>
<br />
<%= link_to 'new Target', new_scan_target_path %>
