<% title "OpenVAS: Report Formats" %>
<p><%#= link_to "new Report Format", new_report_format_path %></p>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Extension</th>
    <th>Content Type</th>
    <th>Trust</th>
    <th>Active</th>
    <th>Summary</th>
  </tr>
  <% for report_format in @report_formats %>
    <tr>
      <td><%= report_format.name %></td>
      <td><%= report_format.extension %></td>
      <td><%= report_format.content_type %></td>
      <td><%= report_format.trust %></td>
      <td><%= report_format.active ? 'yes' : 'no' %></td>
      <td><%= report_format.summary %></td>
      <td><%= link_to "details", report_format_path(report_format.id) %></td>
      <td><%#= link_to "edit", edit_report_format_path(report_format.id) %></td>
      <td><%#= link_to "delete", report_format.id, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
