<h2>Tasks</h2>
<p><%= add_button_link_to 'new Task', new_task_path %></p>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Actions</th>
    <th>Name</th>
    <th>Status</th>
    <th>Scan Config</th>
    <th>Scan Target</th>
    <th colspan="3">Reports</th>
    <th>Threat</th>
    <th>Trend</th>
  </tr>
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th width="1">Total</th>
		<th>First</th>
		<th>Last</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>

<% @tasks.each do |task| %>
  <tr>
		<td>
			<div class="actions">
				<%# status: Delete Requested,Done,New,Pause Requested,Paused,Requested,Resume Requested,Running,Stop Requested,Stopped,Internal Error %>
				<% if ['New','Done'].include? task.status %>
						<%= link_to image_tag("start.png"), start_task_path(task.id), :title => 'Start Task' %>
				    <%= image_tag("resume_inactive.png") %>
				    <%= image_tag("stop_inactive.png") %>
				    <%= link_to image_tag("delete.png"), task_path(task.id), :title => 'Delete Task', :confirm => 'Are you sure?', :method => :delete %>
				<% elsif ['Stopped'].include? task.status %>
						<%= link_to image_tag("start.png"), start_task_path(task.id), :title => 'Start Task' %>
				    <%= link_to image_tag("resume.png"), resume_stopped_task_path(task.id), :title => 'Resume Task' %>
				    <%= image_tag("stop_inactive.png") %>
				    <%= link_to image_tag("delete.png"), task_path(task.id), :title => 'Delete Task', :confirm => 'Are you sure?', :method => :delete %>
				<% elsif ['Paused'].include? task.status %>
    				<%= image_tag("start_inactive.png") %>
				    <%= link_to image_tag("resume.png"), resume_paused_task_path(task.id), :title => 'Resume Task' %>
				    <%= link_to image_tag("stop.png"), stop_task_path(task.id), :title => 'Stop Task' %>
				    <%= link_to image_tag("delete.png"), task_path(task.id), :title => 'Delete Task', :confirm => 'Are you sure?', :method => :delete %>
				<% elsif ['Running'].include? task.status %>
    				<%= image_tag("start_inactive.png") %>
				    <%= link_to image_tag("pause.png"), pause_task_path(task.id), :title => 'Pause Task' %>
				    <%= link_to image_tag("stop.png"), stop_task_path(task.id), :title => 'Stop Task' %>
		    		<%= image_tag("delete_inactive.png") %>
				<% elsif ['Internal Error'].include? task.status %>
						<%= link_to image_tag("start.png"), start_task_path(task.id), :title => 'Start Task' %>
				    <%= image_tag("resume_inactive.png") %>
				    <%= image_tag("stop_inactive.png") %>
				    <%= link_to image_tag("delete.png"), task_path(task.id), :title => 'Delete Task', :confirm => 'Are you sure?', :method => :delete %>
				<% else %>
		    		<%= image_tag("start_inactive.png") %>
				    <%= image_tag("resume_inactive.png") %>
				    <%= image_tag("stop_inactive.png") %>
		    		<%= image_tag("delete_inactive.png") %>
				<% end %>
			</div>
		</td>
    <td>
			<%= edit_pill_button_link_to truncate(task.name, :length => 35), edit_task_path(task.id), :title => 'Edit Task' %>
			<% unless task.comment.blank? %>
					<br />
					<%= truncate(task.comment, :length => 15) %>
			<% end %>
		</td>
    <td>
			<% if ['New','Done'].include?(task.status) %>
					<%= task.status %>
			<% elsif task.status =~ /Requested/ %>
					<span style="color:red"><%= task.status %></span>
			<% else %>
					<%= task.status %> at <%= task.overall_progress %>%
			<% end %>
		</td>
    <td><%= task.config_name %></td>
    <td><%= task.target_name %></td>
    <td><%= task.times_run %></td>
    <td>
			<%# openvas returns datetime as a string formatted like: "Thu May 19 21:09:19 2011" %>
			<%# frd = DateTime.strptime(task.first_report_date, "%a %b %d %H:%M:%S %Y") unless task.first_report_date.blank? %>
			<% frd = Time.parse(task.first_report_date) unless task.first_report_date.blank? %>
	    <%= link_to(frd.strftime("%b %d %Y"), report_path(task.first_report_id), :title => 'view First Report') unless task.first_report_date.blank? %>
		</td>
    <td>
			<%# openvas returns datetime as a string formatted like: "Thu May 19 21:09:19 2011" %>
			<%# lrd = DateTime.strptime(task.last_report_date, "%a %b %d %H:%M:%S %Y") unless task.last_report_date.blank? %>
			<% lrd = Time.parse(task.last_report_date) unless task.last_report_date.blank? %>
			<%#= lrd.strftime("%b %d %Y") unless task.last_report_date.blank? %>
	    <%= link_to(lrd.strftime("%b %d %Y"), report_path(task.last_report_id), :title => 'view Last Report') unless task.last_report_date.blank? %>
		</td>
		<td><%# threat: High, Medium, Low, Log, Debug (Log,Debug = None) %><%= task.threat %></td>
		<td><%# trend: up, down, more, less, same %><%= task.trend %></td>
  </tr>
	<tr><td colspan="10"><hr /></td></tr>
<% end %>
</table>
<% if false #current_user.openvas_admin? %>
		OAP Version: <%= @version unless @version.blank? %>
<% end %>
