<%= form_for @note do |f| %>
	<% if @note.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this note from being saved:</h2>
	    <ul>
	      <% @note.errors.full_messages.each do |msg| %>
	        <li><%= raw(msg) %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<div class="field">
	  <div class="left">NVT Name</div>
	  <div class="right"><%= @note.nvt_name %></div>
	</div>
	<div class="field">
	  <div class="left">Hosts</div>
	  <div class="right">
			<%= f.text_field :hosts %>
		</div>
	</div>
  <p>
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </p>
  <p>
    <%= f.label :threat %><br />
    <%= f.text_field :threat %>
  </p>
  <p>
    <%= f.label :note_text %><br />
    <%= f.text_area :note_text %>
  </p>
	<br /><br />
  <div class="actions">
    <div class="left">&nbsp;</div>
		<div class="right">
			<% if @note.new_record? %>
	    		<%= big_button_submit_tag 'Create Note' %>
			<% else %>
	    		<%= big_button_submit_tag 'Save Note' %>
			<% end %>
  	</div>
  </div>
	<br /><br />
<% end %>
