<% title "Override" %>
<p>
  <strong>Hosts:</strong>
  <%= @override.hosts %>
</p>
<p>
  <strong>Port:</strong>
  <%= @override.port %>
</p>
<p>
  <strong>Threat:</strong>
  <%= @override.threat %>
</p>
<p>
  <strong>Text:</strong>
  <%= @override.override_text %>
</p>
<hr />
<%=debug @override%>
