<h1>Greenbone</h1>

<hr />
<% @tasks.each do |task| %>
		<%=task.inspect%>
		<hr />
		<div>
			<%= task.name %> | 
			<%= task.comment %> | 
			<%= task.status %> | 
			<%= task.progress.inspect %> | 
			<%= task.times_run %> | 
			<%= task.last_report_id %> | 
			<%= task.config_id %> | 
			<%= task.target_id %> | 
			<%= task.schedule_id %>
		</div>
		<hr />
		<div style="font-size:15px;background-color:aliceblue;border:2px solid black;padding:5px">
			OpenvasCli::VasReport.get_all
			<hr />
			<%#= OpenvasCli::VasReport.get_by_id(task.last_report_id).inspect %>
			<%# all = OpenvasCli::VasReport.get_by_id(task.last_report_id) %>
			<% report = OpenvasCli::VasReport.get_all %>
			<% report.each do |rep| %>
				REPORT: <%=rep.task_name%> | <%=rep.status%> | <%=rep.started_at%> | <%=rep.result_count[:high][:total]%>
				<hr />
				<%=rep.result_count.to_yaml%>
				<hr />
				<% rep.results.each do |result| %>
					RESULT: <%= result.inspect %><hr />
				<% end %>
			<% end %>
		</div>
		<hr />
		<div style="font-size:15px;background-color:lemonchiffon;border:2px solid black;padding:5px">
			OpenvasCli::VasReport.get_by_id(task.last_report_id=<%=task.last_report_id%>)
			<hr />
			<% rep = OpenvasCli::VasReport.get_by_id(task.last_report_id) %>
			REPORT: <%= rep.inspect %><hr />
			<% rep.results.each_with_index do |result, x| %>
				RESULT: <%=x+1%>. <%= result.inspect %><hr />
			<% end %>
		</div>
<% end %>

<hr />
<%#= debug @reports %>