<% title "Scan Configs" %>
<p><%#= link_to 'new Scan config', new_scan_config_path %></p>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Family count</th>
    <th>Families grow</th>
    <th>NVTs count</th>
    <th>NVTs grow</th>
    <th>In use</th>
  </tr>
	<% @scan_configs.each do |scan_config| %>
	  <tr>
	    <td>
				<%= scan_config.name %>
				<br />
	    	<span style="font-size:10px"><%= scan_config.comment %></span>
			</td>
	    <td><%= scan_config.family_count %></td>
	    <td><%= scan_config.families_grow %></td>
	    <td><%= scan_config.nvt_count %></td>
	    <td><%= scan_config.nvts_grow %></td>
	    <td><%= scan_config.in_use %></td>
	    <td><%#= link_to 'Show', scan_config %></td>
	    <td><%#= link_to 'Edit', edit_scan_config_path(scan_config) %></td>
	    <td><%#= link_to 'Destroy', scan_config, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>
