<% title "Scan Config: #{@scan_config.name}" %>
<b>Name:</b>
<%= @scan_config.name %>
<br />
<b>Comment:</b>
<%= @scan_config.comment %>
<br />
<b>Families count:</b>
<%= @scan_config.family_count %>
<br />
<b>Families grow:</b>
<%= @scan_config.families_grow %>
<br />
<b>NVTs count:</b>
<%= @scan_config.nvts_count %>
<br />
<b>NVTs grow:</b>
<%= @scan_config.nvts_grow %>
<br />
<b>In use:</b>
<%= @scan_config.in_use %>
<br />
<h2>Network Vulnerability Test Families</h2>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Family</th>
    <th>NVT's selected</th>
    <th>Growing</th>
  </tr>
	<% @scan_config.families.each do |family| %>
	  <tr>
	    <td><%= family.name %></td>
	    <td><%= family.nvt_count %> of <%= family.max_nvt_count %></td>
	    <td><%= family.growing %></td>
	  </tr>
		<tr><td colspan="3"><hr /></td></tr>
	<% end %>
</table>
<br />
<h2>Scanner Preferences</h2>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Value</th>
  </tr>
	<% @scan_config.scanner_preferences.each do |pref| %>
	  <tr>
	    <td><%= pref.name %></td>
	    <td><%= pref.value %></td>
	  </tr>
		<tr><td colspan="2"><%=debug pref%></td></tr>
	<% end %>
</table>
<br />
<h2>Network Vulnerability Test Preferences</h2>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>NVT</th>
    <th>Name</th>
    <th>Value</th>
  </tr>
	<% @scan_config.nvt_preferences.each do |pref| %>
	  <tr>
	    <td><%= pref.nvt_name %></td>
	    <td><%= pref.name %></td>
	    <td><%= pref.value %></td>
	  </tr>
		<tr><td colspan="3"><hr /></td></tr>
	<% end %>
</table>
<br />
<h2>Tasks using this Config</h2>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
  </tr>
	<% @scan_config.tasks.each do |task| %>
	  <tr>
	    <td><%= task.name %></td>
	  </tr>
	<% end %>
</table>