<p>
  <b>Name:</b>
  <%= @scan_config.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @scan_config.comment %>
</p>

<p>
  <b>Families grow:</b>
  <%= @scan_config.families_grow %>
</p>

<p>
  <b>Rules grow:</b>
  <%= @scan_config.rules_grow %>
</p>

<p>
  <b>In use:</b>
  <%= @scan_config.in_use %>
</p>
