<% title "Credentials" %>
<%= add_button_link_to "new Credential", new_credential_path %>
<br />
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Login</th>
    <th>Comment</th>
  </tr>
  <% for credential in @credentials %>
    <tr>
      <td><%= credential.name %></td>
      <td><%= credential.login %></td>
      <td><%= credential.comment %></td>
      <td><%#= link_to "Show", credential %></td>
      <td><%#= link_to "Destroy", credential, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= pill_button_link_to "edit", edit_credential_path(credential.id) %></td>
			<% if credential.password_type.downcase == 'gen' %>
      		<td><%= pill_button_link_to "public key", download_public_key_path(credential.id) %></td>
			<% end %>
    </tr>
		<tr><td colspan="7"><hr /></td></tr>
  <% end %>
</table>
