<% title "Credentials" %>
<%= add_button_link_to "new Credential", new_credential_path %>
<br />
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Login</th>
    <th>Comment</th>
  </tr>
  <% for credential in @credentials %>
    <tr>
      <td><%= credential.name %></td>
      <td><%= credential.login %></td>
      <td><%= credential.comment %></td>
      <td><%#= link_to "Show", credential %></td>
      <td><%#= link_to "Destroy", credential, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= pill_button_link_to "edit", edit_credential_path(credential.id) %></td>
			<% if credential.password_type.downcase == 'gen' %>
  				<td><%= arrowdown_pill_button_link_to "RPM", download_format_path(credential.id, :credential_format => 'rpm'), :title => 'download RPM package' %></td>
  				<td><%= arrowdown_pill_button_link_to "DEB", download_format_path(credential.id, :credential_format => 'deb'), :title => 'download DEB package' %></td>
  				<td><%= arrowdown_pill_button_link_to "EXE", download_format_path(credential.id, :credential_format => 'exe'), :title => 'download EXE package' %></td>
      		<td><%= key_pill_button_link_to "SSH Public Key", download_public_key_path(credential.id), :title => 'download SSH Public Key' %></td>
			<% end %>
    </tr>
		<tr><td colspan="10"><hr /></td></tr>
  <% end %>
</table>
