<% title "Credential" %>
<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>
<p>
  <strong>Login:</strong>
  <%= @credential.login %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @credential.comment %>
</p>
<p>
  <strong>Password Type:</strong>
  <%= @credential.password_type %>
</p>
<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>
