<% title "Escalators" %>
<%= add_button_link_to "new Escalator", new_escalator_path %>
<br />
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Name</th>
    <th>Comment</th>
    <th>Event</th>
    <th>Condition</th>
    <th>Method</th>
  </tr>
  <% for escalator in @escalators %>
    <tr>
      <td><%= escalator.name %></td>
      <td><%= escalator.comment %></td>
      <td>
				<%= escalator.escalator_event %>
				<br />
				<%= escalator.event_data %>
			</td>
      <td>
				<%= escalator.escalator_condition %>
				<br />
			  <% escalator.condition_datas.each do |dt| %>
						<%# if (dt.name == 'notice' && dt.data == '0') || dt.name == 'submodule' || dt.name == 'from_address'
								 next
							 end %>
							 <%= dt.name %>: <%= dt.data %><br />
			  <% end %>
			</td>
      <td>
				<%= escalator.escalator_method %>
				<br />
			  <% escalator.method_datas.each do |dt| %>
						<% if (dt.name == 'notice' && dt.data == '0') || dt.name == 'submodule' || dt.name == 'from_address'
								 next
							 end %>
							 <%= dt.name %>: <%= dt.data %><br />
			  <% end %>
			</td>
      <td><%#= link_to "Show", escalator %></td>
      <td><%#= link_to "Edit", edit_escalator_path(escalator) %></td>
      <td><%= danger_remove_pill_button_link_to "delete", escalator_path(escalator.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
		<tr><td colspan="8"><hr /></td></tr>
  <% end %>
</table>
