<%= link_to 'tasks', tasks_path %>
<p>
  <b>Result of Task:</b>
  <%= @report.task_name %>
</p>
<p>
  <b>Started at:</b>
  <%= @report.started_at %>
</p>
<p>
  <b>Ended at:</b>
  <%= @report.ended_at %>
</p>
<p>
  <b>Status:</b>
  <%= @report.status %>
</p>
<p>
  <b>Result count:</b>
  <%= @report.result_count.inspect %>
</p>

<hr />
<% if @report.status.downcase == 'done' %>
	<p><%= link_to 'view HTML Report', view_report_path(@report.id), :target=>'_blank' %></p>
	<p><%#= link_to 'view PDF Report', view_report_path(@report.id, :fmt => 'pdf'), :target=>'_blank' %></p>
<% end %>

<!-- <p>
<pre>
<b>Report Formats:</b>
<%#= @formats.to_yaml%>
</pre>
</p>
<p>
<pre><%#= @report.to_yaml%></pre>
</p> -->