<p>
  <b>Result of Task:</b>
  <%= @report.task_name %>
</p>
<p>
  <b>Started at:</b>
  <%= @report.started_at %>
</p>
<p>
  <b>Ended at:</b>
  <%= @report.ended_at %>
</p>
<p>
  <b>Status:</b>
  <%= @report.status %>
</p>
<p>
	<table cellspacing="2" cellpadding="4">
	  <tr style="text-align:left; vertical-align:bottom">
	    <th>&nbsp;</th>
	    <th>High</th>
	    <th>Medium</th>
	    <th>Low</th>
	    <th>Log</th>
	    <th>False Pos</th>
	    <th>Total</th>
	    <th colspan="2">Reports</th>
	  </tr>
	  <tr>
			<td>Full report:</td>
			<td><%= @report.result_count_total[:high] %></td>
			<td><%= @report.result_count_total[:medium] %></td>
			<td><%= @report.result_count_total[:low] %></td>
			<td><%= @report.result_count_total[:log] %></td>
			<td><%= @report.result_count_total[:debug] %></td>
			<td><%= @report.result_count_total[:total] %></td>
			<% if @report.status.downcase == 'done' %>
				<td><%= pill_button_link_to 'HTML', view_report_path(@report.id),                :target=>'_blank' %></td>
				<td><%= pill_button_link_to 'PDF',  view_report_path(@report.id, :fmt => 'pdf'), :target=>'_blank' %></td>
			<% end %>
		</tr>
	</table>
</p>