<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <title><%= content_for?(:title) ? yield(:title) : "OpenVAS" %></title>
	<%= css3buttons_stylesheets :include_reset => false %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'jquery', 'jquery.min', 'jquery_ujs' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div id="container">
	<div id="nav_wrapper">
		<% if user_signed_in? %>
			<div class="logo"><h1>OpenVAS</h1></div>
			<div class="nav">
				<!-- <div class="actions button-container">
				    <a href="#" class="button primary">Compose new</a>
				    <div class="button-group">
				        <a href="#" class="button primary pill">Archive</a>
				        <a href="#" class="button pill">Report spam</a>
				        <a href="#" class="button danger pill">Delete</a>
				    </div>
				    <div class="button-group minor-group">
				        <a href="#" class="button">Move to</a>
				        <a href="#" class="button">Labels</a>
				    </div>
				</div> -->
				<%= button_group do %>
					<%= disable_nav_pill_user_button_link_to current_user.username, root_path %>
					<%= home_pill_button_link_to 'Home', root_path %>
					<%= negative_pill_button_link_to 'Sign Out', destroy_user_session_path %>
				<% end %>
				<br />
				<%= button_group do %>
					<%= disable_nav_pill_clock_button_link_to 'scan management', root_path %>
					<%= pill_button_link_to 'Tasks', tasks_path %>
					<%= disable_pill_button_link_to 'Notes', root_path %>
					<%= disable_pill_button_link_to 'Overrides', root_path %>
					<%= pill_button_link_to 'System', system_reports_path %>
				<% end %>
				<br />
				<%= button_group do %>
					<%= disable_nav_pill_settings_button_link_to 'configuration', root_path %>
					<%= pill_button_link_to 'Configs', scan_configs_path %>
					<%= pill_button_link_to 'Targets', scan_targets_path %>
					<%= pill_button_link_to 'Credentials', credentials_path %>
					<%= disable_pill_button_link_to 'Agents', root_path %>
					<%= pill_button_link_to 'Escalators', escalators_path %>
					<%= pill_button_link_to 'Schedules', schedules_path %>
					<%= pill_button_link_to 'Formats', report_formats_path %>
					<%= pill_button_link_to 'Slaves', slaves_path %>
				<% end %>
				<br />
				<% if current_user.openvas_admin? %>
						<%= button_group do %>
							<%= disable_nav_settings_key_pill_button_link_to 'administration', root_path %>
							<%= pill_button_link_to 'Users', openvas_users_path %>
							<%= rss_pill_button_link_to 'NVT', feeds_path %>
							<%= pill_button_link_to 'Settings', settings_path %>
						<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
	<div>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" unless msg.blank? %>
		<% end %>
		<%= content_tag :h1, yield(:title) if show_title? %>
		<%= yield %>
	</div>
	<footer id="page_footer"> 
		2011 &nbsp;&nbsp;&nbsp;
		<%= Time.now.utc.strftime("%a %b %d, %Y %I:%M:%S %P %Z") %>
		<% if user_signed_in? %>
				<span class="footer_text">session timeout in <%=time_ago_in_words(session_timeout_in)%>:</span> <%= session_timeout_in %>
		<% end %>
	</footer>
</div>

<script>
jQuery(document).ready(function(){
	$("input:text:visible:first").focus();
});
</script>
</body>
</html>
