<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <title><%= content_for?(:title) ? yield(:title) : "OpenVAS" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'jquery', 'jquery.min', 'jquery_ujs' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div id="container">
	<div id="nav_wrapper">
		<% if user_signed_in? %>
			<div class="logo"><h1>OpenVAS</h1></div>
			<div class="nav">
				<%= link_to 'Home', root_path %>
				 | 
				<%= link_to "Sign Out", destroy_user_session_path %>
				&larr; <span class="nav_text">user:</span> <%= current_user.username %>
				<hr />
				<%= link_to 'Tasks', tasks_path %>
				 | 
				<%= link_to 'New Task', new_task_path %>
				 | 
				Notes
				 | 
				Overrides
				 | 
				<%= link_to 'System Reports', system_reports_path %>
				&larr; <span class="nav_text">scan management</span>
				<hr />
				<%= link_to 'Scan Configs', scan_configs_path %>
				 | 
				<%= link_to 'Targets', scan_targets_path %>
				 | 
				Credentials
				 | 
				Agents
				 | 
				<%= link_to 'Escalators', escalators_path %>
				 | 
				<%= link_to "Schedules", schedules_path %>
				 | 
				<%= link_to "Report Formats", report_formats_path %>
				 | 
				Slaves
				&larr; <span class="nav_text">configuration</span>
				<hr />
				<% if current_user.openvas_admin? %>
						Users
						 | 
						<%= link_to "NVT Feed", feeds_path %>
						 | 
						<%= link_to "Settings", settings_path %>
						&larr; <span class="nav_text">administration</span>
						<hr />
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
	<div>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" unless msg.blank? %>
		<% end %>
		<%= content_tag :h1, yield(:title) if show_title? %>
		<%= yield %>
	</div>
	<footer id="page_footer"> 
		&copy; 2011 &nbsp;&nbsp;&nbsp;
		<%= Time.now.utc.strftime("%a %b %d, %Y %I:%M:%S %P %Z") %>
		<% if user_signed_in? %>
				<span class="footer_text">session timeout in <%=time_ago_in_words(session_timeout_in)%>:</span> <%= session_timeout_in %>
		<% end %>
	</footer>
</div>

<script>
jQuery(document).ready(function(){
	$("input:text:visible:first").focus();
});
</script>
</body>
</html>
